<div id="up-to-top" class="row">
	<div class="small-12 columns" style="text-align: right;">
		<a class="iconfont" href="#top-of-page">&#xf108;</a>
	</div><!-- /.small-12.columns -->
</div><!-- /.row -->


<footer id="footer-content" class="bg-grau">
	<div id="footer">
		<div class="row">
			<div class="medium-6 large-5 columns">
				<h5 class="shadow-black">{{ site.title }}</h5>

				<p class="shadow-black">
					{{ site.data.language[language].slogan }}
					<a href="{{ site.url }}{{ site.baseurl }}">{{ site.data.language[language].more }}</a>
				</p>
			</div><!-- /.large-6.columns -->


			<!-- Middle clink column -->
			<div class="small-6 medium-3 large-3 large-offset-1 columns">
				{% assign menucounter = 0 %}
				{% for link in site.data.navigation[language] %}
					{% if link.side == 'bottom' %}
						{% if menucounter == 0 %}
							<h5 class="shadow-black">{{ site.data.language[language].sources }}</h5>
							<ul class="no-bullet shadow-black">
							{% assign menucounter = menucounter | plus: 1 %}
						{% endif %}
						<li>
							<a href="{{ domain }}{{ link.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ link.title }}">{{ link.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
				{% if mencounter != 0 %}
					</ul>
				{% endif %}
			</div><!-- /.large-4.columns -->


			<div class="small-6 medium-3 large-3 columns">
				{% for lang in page.translations %}
					{% if forloop.first %}
						<h5 class="shadow-black">{{ site.data.language[language].languages }}</h5>
						<ul class="no-bullet shadow-black">
					{% endif %}
					{% assign temp = lang[0] %}
						<li><a href="{{ lang[1] }}">{{ site.data.language[temp].language }}</a></li>
					{% if forloop.first %}
						</ul>
					{% endif %}
				{% endfor %}
			</div><!-- /.large-3.columns -->
		</div><!-- /.row -->

	</div><!-- /#footer -->

</footer>
